.topText {
    position: absolute;
    top: 0px;
    border-top: 10px solid black;  
    border-left: 10px solid black;
    border-right: 10px solid black;
    padding: 3px;
    width: 300px;  
}

.memeContainer {
    width: 30%;
    float: left;
    margin: 15px;
    height: 500px;
    position: relative;
    margin-top: 25px;
    
}


#oneRowOfText {
    top: 50px;
}

#twoRowsOfText {
    top: 75px;
}

#threeRowsOfText {
    top: 100px;
}

#oneRowOfTotalText {
    top: 350px;
}

#twoRowsOfTotalText {
    top: 375px;
}

#threeRowsOfTotalText {
    top: 400px;
}

#fourRowsOfTotalText {
    top: 425px;
}

#fiveRowsOfTotalText {
    top: 450px;
}

#sixRowsOfTotalText {
    top: 475px;
}

.memeImage {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 300px;  
    border-left: 10px solid black;
    border-right: 10px solid black;
    padding: 3px;
}

.bottomText {
    position: absolute;
    top: 325px;
    border-left: 10px solid black;
    border-right: 10px solid black;
    border-bottom: 10px solid black;
    padding: 3px;
}

#bottomRowPlacement1 {
    top: 350px;
}
#bottomRowPlacement2 {
    top: 375px;
}
#bottomRowPlacement3 {
    top: 380px;
}

#test{
    position: absolute;
    top: 375px;
}

.removeButton {
    position: relative;
    top: 500px;
}

.text {
    font-family: 'Notable', sans-serif;
    width: 300px;
    text-align: justify;
    word-wrap: break-word;
}

